# .github/workflows/maven.yml
# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      # Read access is sufficient for checking out code and running mvn package
      contents: read
      # Write access needed for maven-dependency-submission-action
      security-events: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up OpenJDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        # Runs verify phase (includes compile, test, package)
        run: mvn -B verify --file pom.xml # Changed package to verify to include tests if any

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v3
        continue-on-error: true # Keep this in case submission fails sometimes